<div class="navbar bg-primary text-primary-content">
  <button class="btn btn-ghost text-xl">Memory Card</button>
</div>
<div class="p-4 flex flex-col gap-4">
  <div class="flex flex-row justify-center gap-4">
    <!-- Answers -->
    <div class="stats shadow">
      <div class="stat place-items-center">
        <div class="stat-title">Right</div>
        <div class="stat-value">{{rightAnswers.length}}</div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-value text-xl">
          <div class="radial-progress text-primary"
            style="--value:{{100 - questions.length}};"
            role="progressbar">{{100 - questions.length}}%</div>
        </div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">Wrong</div>
        <div class="stat-value">{{wrongAnswers.length}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="currentQuestion != null"
    class="flex justify-center p-1">
    <!-- Question -->
    <div class=" not-prose card card-compact bg-base-200 shadow-xl"
      (click)="toggleAnswer()">
      <div class="card-body">
        <h2 class="card-title">
          {{currentQuestion.question}}
        </h2>
        <span class="text-xs text-gray-500">
          {{currentQuestion.section}} &gt; {{currentQuestion.subsection}}
        </span>
        <!-- Answers -->
        <div *ngIf="showAnswer === true"
          class="flex flex-col gap-4">
          <p *ngIf="currentQuestion.answers.length === 1">A: {{currentQuestion.answers[0]}}</p>
          <ul class="prose"
            *ngIf="currentQuestion.answers.length > 1">
            <li *ngFor="let answer of currentQuestion.answers">{{answer}}</li>
          </ul>
          <!-- Buttons -->
          <div class="card-actions flex flex-row justify-evenly">
            <button class="btn btn-success w-1/3"
              (click)="rightAnswer()">Right</button>
            <button class="btn btn-error  w-1/3"
              (click)="wrongAnswer()">Wrong</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>